@import "tailwindcss";
:root {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;
  font-variation-settings:"width" 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  display: flex;
  justify-content: center;
} */

h1 {
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

/* @custom-variant sidebar-expanded (&:is(.sidebar-expanded *)); */
.fade-enter {
  transform: translateX(100%);
  opacity: 0;
}
.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.fade-exit {
  transform: translateX(0);
  opacity: 1;
}
.fade-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

::-webkit-scrollbar {
  height: 8px; /* chiều cao khi cuộn ngang */
  width: 8px;  /* chiều rộng khi cuộn dọc */
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* màu xám trung bình */
  border-radius: 9999px; /* bo tròn */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* hover đậm hơn */
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* màu nền của track */
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}